<!DOCTYPE html>
<html lang="en">
   
<head>
    <link rel="shortcut icon" href="assets/img/Logo PNG.png" type="image/x-icon" sizes="228x228" /><div></div>
    <title>Sindikod Agency</title>
    <meta name="Description" content="Sindikod Agency">
    <meta name="Keyword" content="Sindikod Agency">
    <meta name="author" content="Sindikod Agency">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Load Require CSS -->
    <link href="assets/css/bootstrap2.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="assets/css/boxicon.min.css" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<style>
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.card:hover {
    box-shadow: 0px 18px 28px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .size {width: 191%;margin-left: 83%; margin-top: -11%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .size {width: 191%;margin-left: 83%; margin-top: -11%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .size {width: 191%;margin-left: 83%; margin-top: -11%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .size {width: 191%;margin-left: 83%; margin-top: -11%;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .size {width: 221%;margin-left: 83%; margin-top: -11%;}
}

</style>

<body style="background-color: #F7F7F7;">
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-transparant navbar-fixed-top" role="navigation">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="./Beranda.html">
                <img src="assets/img/Logo.png" alt="Sindikod Agency" width="70%" class="hidden-xs">
               <!--<strong><span class="text-secondary h4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-weight: 900; margin-top: 20%;">SINDIKOD</span> </strong>-->
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    <ul class="topnav nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                       
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="./Beranda.html"><strong>Beranda</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="./Layanan.html"><strong>Layanan</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="./Hubungi Kami.html"><strong>Hubungi Kami</strong></a>
                        </li>  
                  
                    </ul>
                </div>
               
                    
           
                <!-- <div class="navbar align-self-center d-flex">
                    <a class="nav-link" href="#"><i class='bx bx-bell bx-sm bx-tada-hover text-primary'></i></a>
                    <a class="nav-link" href="#"><i class='bx bx-cog bx-sm text-primary'></i></a>
                    <a class="nav-link" href="#"><i class='bx bx-user-circle bx-sm text-primary'></i></a>
                </div> -->
            </div>
        </div>
    </nav>
    <!-- Close Header -->

   
    <!-- Start Hero Section -->
    <section class="py-3">
        <div class="feature-work container my-4">
            <div class="row d-flex d-flex align-items-center">
                <div class="col-lg-5">
                        <img class="size" src="./assets/img/Gambar Banner.png" alt="Sindikod Agency">
                    <h3 style="margin-top: -120%;margin-left: -40%;padding: 40%;" class="feature-work-heading py-3 semi-bold-700">Kami Ada Untuk Membantu Bisnis Anda Tumbuh</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->


    <!-- Start Flexbox Section -->
    <div class="row projects gx-lg-5" style="margin-top: 26%; margin-left: 100px; margin-right: 100px;">
        <center><h5  style= "margin-top: -8%;" class="feature-work-heading py-3 semi-bold-600">Kami Lah Yang Terbaik Untuk Anda</h5></center>
        <a href="#" class="col-sm-6 col-lg-3 text-decoration-none project marketing social business">
            <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                <img class="card-img-top" style="width: 30%; margin-left: 10%; margin-top: 10%;" src="./assets/img/office bag  24  Outline.png" alt="Sindikod Agency">
                <div class="card-body" style="width:400px; margin-top:30%; margin-left: 10%; margin-right: 10%;">
                    <h6  style="text-align: left; "  class="card-title text-dark">Bekerja Secara Profesional</h6>
                    <p class="card-text light-300 text-dark" style="margin-right:25%">
                       Melakukan pekerjaan secara tim dengan mengutamakan ketepatan waktu
                       dan juga kepuasan pelangaan menjadi prioritas utama dari kami.
                    </p>
                    <!-- <span class="text-decoration-none text-primary light-300">
                          Read more <i class='bx bxs-hand-right ms-1'></i>
                      </span> -->
                </div>
            </div>
        </a>
        <a href="#" class="col-sm-6 col-lg-3 text-decoration-none project marketing social business">
            <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                <img class="card-img-top" style="width: 30%; margin-left: 10%; margin-top: 10%;" src="./assets/img/badge  24  Outline.png" alt="Sindikod Agency">
                <div class="card-body" style="width:400px; margin-top:30%; margin-left: 10%; margin-right: 10%;">
                    <h6  style="text-align: left; "  class="card-title text-dark">Tim yang ahli pada bidangnya</h6>
                    <p class="card-text light-300 text-dark" style="margin-right:25%">
                       Melakukan pekerjaan secara tim dengan mengutamakan ketepatan waktu
                       dan juga kepuasan pelangaan menjadi prioritas utama dari kami.
                    </p>
                    <!-- <span class="text-decoration-none text-primary light-300">
                          Read more <i class='bx bxs-hand-right ms-1'></i>
                      </span> -->
                </div>
            </div>
        </a>
        <a href="#" class="col-sm-6 col-lg-3 text-decoration-none project marketing social business">
            <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                <img class="card-img-top" style="width: 30%; margin-left: 10%; margin-top: 10%;" src="./assets/img/Love  24  Outline.png" alt="Sindikod Agency">
                <div class="card-body" style="width:400px; margin-top:30%; margin-left: 10%; margin-right: 10%;">
                    <h6  style="text-align: left; margin-right: 20%;"  class="card-title text-dark">Memikirkan pelanggan anda</h6>
                    <p class="card-text light-300 text-dark" style="margin-right:25%">
                       Melakukan pekerjaan secara tim dengan mengutamakan ketepatan waktu
                       dan juga kepuasan pelangaan menjadi prioritas utama dari kami.
                    </p>
                    <!-- <span class="text-decoration-none text-primary light-300">
                          Read more <i class='bx bxs-hand-right ms-1'></i>
                      </span> -->
                </div>
            </div>
        </a>
        <a href="#" class="col-sm-6 col-lg-3 text-decoration-none project marketing social business">
            <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                <img class="card-img-top" style="width: 30%; margin-left: 10%; margin-top: 10%;" src="./assets/img/Like  24  Outline.png" alt="Sindikod Agency">
                <div class="card-body" style="width:400px; margin-top:30%; margin-left: 10%; margin-right: 10%;">
                    <h6  style="text-align: left; margin-right: 20%;"  class="card-title text-dark">Hasil maksimal, Harga minimal</h6>
                    <p class="card-text light-300 text-dark" style="margin-right:25%">
                       Melakukan pekerjaan secara tim dengan mengutamakan ketepatan waktu
                       dan juga kepuasan pelangaan menjadi prioritas utama dari kami.
                    </p>
                    <!-- <span class="text-decoration-none text-primary light-300">
                          Read more <i class='bx bxs-hand-right ms-1'></i>
                      </span> -->
                </div>
            </div>
        </a>
    </div>

    <!-- End Flexbox Section -->
   

    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Load jQuery require for isotope -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="assets/js/isotope.pkgd.js"></script>
    <!-- Page Script -->
    <script>
        $(window).load(function() {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function() {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });

        $(function () {
            $(document).scroll(function () {
            var $nav = $(".navbar-fixed-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
    <!-- Templatemo -->
    <script src="assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="assets/js/custom.js"></script>

</body>

</html>